/* Modifications to the material theme, for the sunscreen app */

/* Define the controls as disappearing, when the cursor is not hovering over the app
*  @remarks allows to have a more clean emitter area
*/

/* Hide the speed dials (these are buttons), 
   the slider (is an input field),
   the menu (is a toolbar)*/
body:not(:hover) .md-disappear {
    opacity: 0;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dialog Actions shoule have the same right gutter spacing as the content */
.md-dialog-actions {
    padding-right: 24px;
}
